<!--<app-calendar (featureSelected)="onNavigate($event)"></app-calendar>-->

<!--<p>-->
  <!--calendar-week works!-->
<!--</p>-->
<ul class="planner">
  <li class="planner border-dash">
    <p>S</p>
  </li>
  <li class="planner border-dash">
    <p>S</p>
  </li>
  <li class="planner border-dash">
    <p>M</p>
  </li>
  <li class="planner border-dash">
    <p>T</p>
  </li>
  <li class="planner border-dash">
    <p>W</p>
  </li>
  <li class="planner border-dash">
    <p>T</p>
  </li>
  <li class="planner border-dash">
    <p style=" border-bottom: none;">F</p>
  </li>
</ul>
