<ul class="menu ; vertical-menu">
  <li title="Do"><a routerLink = "/do" class="fa-square"></a></li>
  <li title="Doer"><a routerLink = "/doer" class="fa-circle"></a></li>
  <li title="Calender"><a routerLink = "/calendar" class="fa-calendar-check"></a></li>
  <li><a class="active fa-plus"></a><ul>
    <li title="Do"><a href="plus-do" class=" active fa-square"> Do</a></li>
    <li title="Doer"><a href="plus-doer" class="active fa-circle"> Doer</a></li>
    <li title="Idea"><a href="plus-idea" class="active fa-lightbulb-o"> Idea</a></li>
  </ul>
  </li>
  <li title="Idea"><a href="#" class="fa-lightbulb-o"></a></li>
  <li title="Time"><a href="#" class="fa-play"></a></li>
</ul>
